<div class="page-header">
  <h1>
    Recipe ingredients
    <a href="/recipe_ingredients/new" class="btn btn-lg btn-success">New Recipe ingredient</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Recipe</th>
        <th>Ingredient</th>
        <th>Measurement</th>
        <th>Actions</th>
      </tr>

      <% @recipe_ingredients.each do |recipe_ingredient| %>
      <tr>
        <td>
          <% if recipe_ingredient.recipe.present? %>
            <a href="/recipes/<%= recipe_ingredient.recipe.id %>">
              <%= recipe_ingredient.recipe.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if recipe_ingredient.ingredient.present? %>
            <a href="/ingredients/<%= recipe_ingredient.ingredient.id %>">
              <%= recipe_ingredient.ingredient.name %>
            </a>
          <% end %>
        </td>
        <td><%= recipe_ingredient.measurement %></td>
        <td>
          <a href="/recipe_ingredients/<%= recipe_ingredient.id %>" class="btn btn-primary">Show</a>
          <a href="/recipe_ingredients/<%= recipe_ingredient.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_recipe_ingredient/<%= recipe_ingredient.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @recipe_ingredients, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
