<!-- Validation failure messages -->
<% if @recipe_ingredient.errors.any? %>
  <% @recipe_ingredient.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Recipe Ingredient</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_recipe_ingredient" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Recipe
        </label>

        <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :name, @recipe_ingredient.recipe_id), :class => "form-control") %>
      </div>

      <!-- Label and input for ingredient_id -->
      <div class="form-group">
        <label for="ingredient_id" class="control-label">
          Ingredient
        </label>

        <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @recipe_ingredient.ingredient_id), :class => "form-control") %>
      </div>

      <!-- Label and input for measurement -->
      <div class="form-group">
        <label for="measurement" class="control-label">
          Measurement
        </label>

        <input type="text" id="measurement" name="measurement" placeholder="Measurement" class="form-control" value="<%= @recipe_ingredient.measurement %>">
      </div>

      <button class="btn btn-success">
        Create Recipe Ingredient
      </button>
      or
      <a href="/recipe_ingredients">Cancel</a>
    </form>
  </div>
</div>
