<div class="page-header">
  <h3>Recipe Ingredient #<%= @recipe_ingredient.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Recipe</dt>
      <dd><%= @recipe_ingredient.recipe_id %></dd>

      <dt>Ingredient</dt>
      <dd><%= @recipe_ingredient.ingredient_id %></dd>

      <dt>Measurement</dt>
      <dd><%= @recipe_ingredient.measurement %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipe_ingredients" class="btn btn-primary">
        Back
      </a>
      <a href="/recipe_ingredients/<%= @recipe_ingredient.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recipe_ingredient/<%= @recipe_ingredient.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
