<!-- Validation failure messages -->
<% if @ingredient_sensitivity.errors.any? %>
  <% @ingredient_sensitivity.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Ingredient Sensitivity #<%= @ingredient_sensitivity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_ingredient_sensitivity/<%= @ingredient_sensitivity.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for ingredient_id -->
      <div class="form-group">
        <label for="ingredient_id" class="control-label">
          Ingredient
        </label>

        <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @ingredient_sensitivity.ingredient_id), :class => "form-control") %>
      </div>

      <!-- Label and input for sensitivity_id -->
      <div class="form-group">
        <label for="sensitivity_id" class="control-label">
          Sensitivity
        </label>

        <input type="text" id="sensitivity_id" name="sensitivity_id" placeholder="Sensitivity" class="form-control" value="<%= @ingredient_sensitivity.sensitivity_id %>">
      </div>

      <button class="btn btn-warning">
        Update Ingredient Sensitivity
      </button>
      or
      <a href="/ingredient_sensitivities/<%= @ingredient_sensitivity.id %>">Cancel</a>
    </form>
  </div>
</div>
