<div class="page-header">
  <h3>Ingredient Sensitivity #<%= @ingredient_sensitivity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Ingredient</dt>
      <dd>
        <% if @ingredient_sensitivity.ingredient.present? %>
          <a href="/ingredients/<%= @ingredient_sensitivity.ingredient_id %>">
            <%= @ingredient_sensitivity.ingredient.name %>
          </a>
        <% end %>
      </dd>

      <dt>Sensitivity</dt>
      <dd>
        <% if @ingredient_sensitivity.sensitivity.present? %>
          <a href="/sensitivies/<%= @ingredient_sensitivity.sensitivity_id %>">
            <%= @ingredient_sensitivity.sensitivity.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ingredient_sensitivities" class="btn btn-primary">
        Back
      </a>
      <a href="/ingredient_sensitivities/<%= @ingredient_sensitivity.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ingredient_sensitivity/<%= @ingredient_sensitivity.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
