<div class="page-header">
  <h3>Meal #<%= @meal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @meal.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/meals" class="btn btn-primary">
        Back
      </a>
      <a href="/meals/<%= @meal.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_meal/<%= @meal.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Meal has many meal_recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Meal Recipes
      </li>

      <% @meal.meal_recipes.each do |meal_recipe| %>
        <li class="list-group-item">
          <a href="/meal_recipes/<%= meal_recipe.id %>">
            <%= meal_recipe.meal_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/meal_recipes/<%= meal_recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/meal_recipes/<%= meal_recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_meal_recipe/<%= meal_recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_meal_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for meal_id -->
      <input type="hidden" name="meal_id" value="<%= @meal.id %>">

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Recipe
        </label>

        <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Meal Recipe
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Meal has many cookbook_meals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cookbook Meals
      </li>

      <% @meal.cookbook_meals.each do |cookbook_meal| %>
        <li class="list-group-item">
          <a href="/cookbook_meals/<%= cookbook_meal.id %>">
            <%= cookbook_meal.cookbook_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cookbook_meals/<%= cookbook_meal.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cookbook_meals/<%= cookbook_meal.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cookbook_meal/<%= cookbook_meal.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_cookbook_meal" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cookbook_id -->
      <div class="form-group">
        <label for="cookbook_id" class="control-label">
          Cookbook
        </label>

        <%= select_tag(:cookbook_id, options_from_collection_for_select(Cookbook.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for meal_id -->
      <input type="hidden" name="meal_id" value="<%= @meal.id %>">

      <button class="btn btn-block btn-success">
        Create Cookbook Meal
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Meal has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @meal.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Meal has many cookbooks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cookbooks
      </li>

      <% @meal.cookbooks.each do |cookbook| %>
        <li class="list-group-item">
          <a href="/cookbooks/<%= cookbook.id %>">
            <%= cookbook.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cookbooks/<%= cookbook.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cookbooks/<%= cookbook.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cookbook/<%= cookbook.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
