<div class="page-header">
  <h3>User Sensitivy #<%= @user_sensitivy.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @user_sensitivy.user_id %></dd>

      <dt>Sensitivity</dt>
      <dd><%= @user_sensitivy.sensitivity_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_sensitivies" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @user_sensitivy.user %>
        <a href="/user_sensitivies/<%= @user_sensitivy.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_user_sensitivy/<%= @user_sensitivy.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A User sensitivy has many cookbooks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cookbooks
      </li>

      <% @user_sensitivy.cookbooks.each do |cookbook| %>
        <li class="list-group-item">
          <a href="/cookbooks/<%= cookbook.id %>">
            <%= cookbook.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cookbooks/<%= cookbook.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cookbooks/<%= cookbook.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cookbook/<%= cookbook.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
