<!-- Validation failure messages -->
<% if @meal_recipe.errors.any? %>
  <% @meal_recipe.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Meal Recipe #<%= @meal_recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_meal_recipe/<%= @meal_recipe.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for meal_id -->
      <div class="form-group">
        <label for="meal_id" class="control-label">
          Meal
        </label>

        <%= select_tag(:meal_id, options_from_collection_for_select(Meal.all, :id, :name, @meal_recipe.meal_id), :class => "form-control") %>
      </div>

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Recipe
        </label>

        <input type="text" id="recipe_id" name="recipe_id" placeholder="Recipe" class="form-control" value="<%= @meal_recipe.recipe_id %>">
      </div>

      <button class="btn btn-warning">
        Update Meal Recipe
      </button>
      or
      <a href="/meal_recipes/<%= @meal_recipe.id %>">Cancel</a>
    </form>
  </div>
</div>
