<div class="page-header">
  <h3>Cookbook #<%= @cookbook.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @cookbook.user_id %></dd>

      <dt>Name</dt>
      <dd><%= @cookbook.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cookbooks" class="btn btn-primary">
        Back
      </a>
      <a href="/cookbooks/<%= @cookbook.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cookbook/<%= @cookbook.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Cookbook has many cookbook_meals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cookbook Meals
      </li>

      <% @cookbook.cookbook_meals.each do |cookbook_meal| %>
        <li class="list-group-item">
          <a href="/cookbook_meals/<%= cookbook_meal.id %>">
            <%= cookbook_meal.cookbook_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cookbook_meals/<%= cookbook_meal.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cookbook_meals/<%= cookbook_meal.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cookbook_meal/<%= cookbook_meal.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_cookbook_meal" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cookbook_id -->
      <input type="hidden" name="cookbook_id" value="<%= @cookbook.id %>">

      <!-- Label and input for meal_id -->
      <div class="form-group">
        <label for="meal_id" class="control-label">
          Meal
        </label>

        <%= select_tag(:meal_id, options_from_collection_for_select(Meal.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Cookbook Meal
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Cookbook has many meals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Meals
      </li>

      <% @cookbook.meals.each do |meal| %>
        <li class="list-group-item">
          <a href="/meals/<%= meal.id %>">
            <%= meal.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/meals/<%= meal.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/meals/<%= meal.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_meal/<%= meal.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
