<div class="page-header">
  <h3>Cookbook #<%= @cookbook.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @cookbook.user_id %></dd>

      <dt>Name</dt>
      <dd><%= @cookbook.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cookbooks" class="btn btn-primary">
        Back
      </a>
      <a href="/cookbooks/<%= @cookbook.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cookbook/<%= @cookbook.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
